/* imported font section */

/* poppins font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared font stylising */




/* header styles starts here */

header {
    margin: 87px 120px;
    font-family: "Poppins", serif;



}

/* navigation style  */

nav {
    display: flex;
    justify-content: space-between;
    color: #3A3A3A;
    margin-bottom: 20px;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    padding: 8px 0;
}

nav li {
    list-style: none;
}

header nav li a {
    text-decoration: none;
    color: #3A3A3A;

}
/* camera position problem */
.main-camera {
    position: absolute;
    right: 140px;  
    /* bottom: 10px; */
}

/* banner section style  */

.banner {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    margin: 0;
}

.banner-description {
    font-size: 1rem;
    font-weight: 600;
    margin: 16px 100px 16px 0;

}

.btn-primary {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 2.5625rem;
}

.brand-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 70px 45px;
    flex-wrap: wrap;
}


@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;

    }
    .main-camera {
        position: absolute;
        right: -20px;  
        bottom: 10px;
    }
}